.form {
    &-language,
    &-info {
        margin-left: -15px;
    }
    &-control {
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #cfcfcf;
        height: 40px;
        padding: 0 10px;
        font-size: 16px;
        border-radius: 0;
        color: $text-color;
        &:focus {
            box-shadow: none;
            outline: none;
            border-color: inherit;
        }
        &--sm {
            height: 27px;
            padding-left: 2px;       
        }
        &--calendar {
          display: inline-block;
          vertical-align: middle;
          width: 104px;
          height: 38px;
          line-height: 38;
          padding: 0 5px;
          border: 1px solid #cfcfcf;
          margin-right: 25px; 
          text-align: center;
        }
        &--lang {
            padding-right: 35px;
        }
        &--search {
            padding: 7px 0 7px 40px;
            background-color: #fafafa;
        }
        &--inline {
            display: inline-block;
            vertical-align: middle;
            width: auto;
        }
        &--small {
            width: 140px;
            border-bottom: 1px solid $gray-light;
        }
        &--table {
            padding-left: 0;
            padding-right: 0;
            width: 100px;
        }
        &--size {
            padding-left: 0;
            padding-right: 0;
        }
        &--wr {
            position: relative;
            margin-bottom: 10px;
        }
        &--icon {
            position: absolute;
            right: 5px;
            top: 5px;
            svg {
                border: 1px solid #cacbcd;
                border-radius: 50%;
            }
        }
        &--inverse {
            color: $second-color;
        }
        &[disabled="disabled"] {
            border: none;
            background-color: #fff;
            cursor: default;
        }
    }
    &-group {
        margin-bottom: 20px;
        &--modal {
            margin-bottom: 14px;
        }
        &--sm {
            margin-bottom: 15px;    
        }
    }
    &-divider {
        height: 1px;
        border-bottom: 1px solid #eaeaea;
        padding: 20px 0 0;
        margin: 0 0 20px -50px;
    }
    &__list {
        padding-right: 80px;
    }
    &-label {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 300;
        color: $gray-light;
        width: 10%;
        margin-bottom: 0;
        @media (max-width: 1600px) {
            width: 15%;
        }
        &--black {
            color: $text-color;
            margin-right: 30px;
        }
        &--auto {
            margin-right: 95px;
            width: auto;
        }
        &--full {
            width: auto;
        }
        &--big {
            font-size: 24px;
        }
        &--large {
            width: auto;
            font-weight: 400;
        }
    }
}

.calendar-label {
  font-size: 16px;
  color: #9f9f9f;
  margin-right: 17px; 
  display: inline-block;
  vertical-align: middle;
}

.calendar-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
  cursor: pointer;
}

.form-horizontal {
    &--inline {
        display: none;
        float: left;
        .control-label {
            vertical-align: middle;
            padding-top: 0;
            margin-right: 30px;
        }
    }
    .form-group {
        margin-left: 0;
    }
    .control-label {
        padding-top: 10px;
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        color: $gray-middle;
        &--inline {
            display: inline-block;
            vertical-align: middle;
            padding-top: 0;
            margin-right: 20px;
        }
        &--big {
            padding-top: 8px;
        }
        &--padding {
            padding-top: 7px;
        }
        &--sm {
            padding-top: 4px;   
        }
        &--md {
          padding-top: 8px;
        }
    }
}

.control-label {
        padding-top: 0;
        padding-left: 0;
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        color: $gray-middle;
        &--big {
            padding-top: 12px;
        }
    }

/**
 * Bootstrap slider
 */

.bootstrap-select {
    margin-right: 18px;
    .caret {
        border: none;
        width: 20px;
        height: 12px;
        background-image: url("../assets/svg/arrow-down.svg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .dropdown-toggle {
        padding: 12px 8px 8px 2px;
        &:focus {
            outline: none;
            outline: 0 dotted #333!important;
            outline: 0 auto -webkit-focus-ring-color!important;
            outline-offset: 0;
        }
    }
}

.btn-group.open .dropdown-toggle {
    float: none;
}

.dropdown-toggle {
    border: none;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 0;
    &[disabled="disabled"] {
        border: none;
        cursor: default;
        .caret {
            display: none;
        }
    }
}

.dropdown-menu {
    >li {
        >a {
            padding: 6px 20px;
            font-size: 16px;
            &:focus {
                outline: none;
            }
        }
    }
}

.filter-option {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
}

.full__width {
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
        display: block;
    }
}
.wide-select {
    width: 215px;
    display: inline-block;
    vertical-align: middle;
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
        display: block;
    }
}

.custom__option {
    display: inline-block;
    vertical-align: middle;
    &_img {
        margin-right: 10px;
        border: 1px solid #cacbcd;
        border-radius: 50%;
    }
}


input.input__color {
    display: none;
}

.label__file--color {
    color: $brand-primary;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.btn-tertiary {
  color: #555;
  padding: 0;
  line-height: 40px;
  width: 300px;
  margin: auto;
  display: block;
  border: 2px solid #555;
  &:hover,
    &:focus {
      color: lighten(#555, 20%);
      border-color: lighten(#555, 20%);
    }
}

/* input file style */

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
    .icon:before {
      //font-awesome
      content: "\f093";
    }
    &.has-file {
      .icon:before {
        //font-awesome
        content: "\f00c";
        color: #5AAC7B;
      }
    }
  }
}


.quantity {
  position: relative;
  display: inline-block;    
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 36px;
  height: 24px;
  line-height: 24px;
  display: inline-block;    
  vertical-align: middle;   
  padding: 0;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;  
  font-size: 16px;
  color: #a7a4a4;
  background-color: #ffffff;
  border: solid 1px #cfcfcf;
  text-align: center;   
}

.quantity input:focus {
  outline: 0;
}



.quantity-button {
  display: inline-block;  
  vertical-align: middle; 
  position: relative;
  cursor: pointer;
  text-align: center;
  color: #9f9f9f;;
  font-size: 24px;
  line-height: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 25px;
  height: 24px;
  border-radius: 1px;
  background-color: #f1f1f1;
}







/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
    overflow: visible !important;
    position: relative;
    transition: width 0.3s;
    &:focus {
        outline: none;
        *, .sidebar__item {
            outline: none;
        }
    }
}

.jspPane
{
    padding-top: 40px!important;
    position: absolute;
    transition: width 0.3s;
    width: 64px !important;
    &:focus {
        outline: none;
        *,.sidebar__item {
            outline: none;
        }
    }
}

.jspScrollable {
    &:focus {
        outline: none;
        *, .sidebar__item {
            outline: none;
        }
    }
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: red;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background: red;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #3ab3df;
    position: relative;
}

.jspDrag
{
    background: #3ab3df;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 0px;
}

.jspHorizontalBar .jspArrow
{
    width: 5px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}




/*! Huebee v1.0.0
http://huebee.buzz
---------------------------------------------- */

.huebee {
  position: absolute;
  z-index: 1;
  transform: translateY(0px);
  transition: opacity 0.15s, transform 0.15s;
}

.huebee.is-hidden {
  opacity: 0;
  transform: translateY(10px);
}

.huebee.is-static-open {
    & + .huebee.is-static-open {
        display: none;
    }
  position: relative;
  z-index: auto;
}

.huebee__container {
  position: absolute;

  left: 0;
  top: 5px;
  padding: 10px;
  background: #EEE;
  border-radius: 5px;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.3);
}



.huebee.is-static-open .huebee__container {
  position: relative;
  display: inline-block;
  left: auto;
  top: auto;
  box-shadow: none;
}

.huebee__canvas {
  display: block;
  cursor: pointer;

}

.huebee__cursor {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-sizing: content-box;
  border: 2px solid white;
  border-radius: 5px;
  pointer-events: none;
}

.huebee__cursor.is-hidden { opacity: 0; }

.huebee__close-button {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: -9px;
  right: -9px;
  border-radius: 12px;
  background: #222;
}

.huebee__close-button__x {
  stroke: white;
  stroke-width: 3;
  stroke-linecap: round;
}

.huebee__close-button:hover {
  background: white;
  cursor: pointer;
}

.huebee__close-button:hover .huebee__close-button__x {
  stroke: #222;
}



input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}






.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    
    span {
      font-size: 16px;
      font-weight: 400; 
      color: #9f9f9f;
    }
    span,
    svg,
    figure {
      display: inline-block;
      vertical-align: middle;
    }
    svg,
    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
}

.no-js .inputfile + label {
    display: none;
}


#list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
    margin-bottom: 12px;
    max-height: 80px;
    overflow: hidden;
  }
}

.comments-new {
  #list {
    padding: 10px 0 0 75px; 
  }
}

.img-delete {
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 21px;
  text-align: center;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: rgba(0,0,0,0.6);
  svg,
  img {
    width: 14px;
    height: 14px;
  }
}

.comments-img-list {
  .img-delete {
    line-height: 24px;  
  }
}


#list .hidden-span {
  display: none;
}

#list .visible-span {
  display: inline-block;
}







.ui-datepicker {
  background-color: #fff;
  border: 1px solid #66AFE9;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(102,175,233,.6);
  display: none;
  margin-top: 4px;
  padding: 10px;
  width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
  text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
  color: #2A6496;
  -webkit-transition: color 0.1s ease-in-out;
     -moz-transition: color 0.1s ease-in-out;
       -o-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
  margin-bottom: 4px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title {
  font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  cursor: default;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 20px;
  line-height: 1;
  margin-top: 2px;
  width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
  float: left;
  text-align: left;
}
.ui-datepicker .ui-datepicker-next {
  float: right;
  text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
  content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
  content: "\e080";
}
.ui-datepicker .ui-icon {
  display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
  padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
  border-radius: 4px;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
     -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
       -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
  background-color: #eee;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
  background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
  color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
  background-color: #fff;
  cursor: default;
}



















.fancybox-enabled {
  overflow: hidden; }

.fancybox-enabled body {
  overflow: visible;
  height: 100%; }

.fancybox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99993;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* Make sure that the first one is on the top */
.fancybox-container ~ .fancybox-container {
  z-index: 99992; }

.fancybox-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0f0f11;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fancybox-container--ready .fancybox-bg {
  opacity: 0.87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  z-index: 99994;
  transition: opacity .2s;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  direction: ltr; }

.fancybox-show-controls .fancybox-controls {
  opacity: 1; }

.fancybox-infobar {
  display: none; }

.fancybox-show-infobar .fancybox-infobar {
  display: inline-block;
  pointer-events: all; }

.fancybox-infobar__body {
  display: inline-block;
  width: 70px;
  line-height: 44px;
  font-size: 13px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  color: #ddd;
  background-color: rgba(30, 30, 30, 0.7);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased; }

.fancybox-buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  pointer-events: all; }

.fancybox-show-buttons .fancybox-buttons {
  display: block; }

.fancybox-slider-wrap {
  overflow: hidden;
  direction: ltr; }

.fancybox-slider-wrap,
.fancybox-slider {
  position: absolute;
    
  text-align: center; 
  
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 99993;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent; }

.fancybox-slider-wrap {
  max-width: 1000px;
  transform: translate(-50%, 0);
  left: 50%;  
}


.fancybox-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
  white-space: normal;
  box-sizing: border-box;
  text-align: center;
  z-index: 99994;
  -webkit-overflow-scrolling: touch; }

.fancybox-slide::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0; }

.fancybox-slide > * {
  display: inline-block;
  position: relative;
  padding: 24px;
  margin: 44px 0 44px;
  border-width: 0;
  vertical-align: middle;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box; }

.fancybox-slide--image {
  overflow: hidden; }

.fancybox-slide--image::before {
  display: none; }

.fancybox-content {
  display: inline-block;
  position: relative;
  margin: 44px auto;
  padding: 0;
  border: 0;
  width: 1000px;
  height: calc(100% - 88px);
  max-height: 1000px;
  overflow: hidden;
  vertical-align: middle;
  line-height: normal;
  text-align: left;
  white-space: normal;
  outline: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch; }

.fancybox-iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}




.fancybox-slide--video .fancybox-content,
.fancybox-slide--video .fancybox-iframe {
  background: transparent; }

.fancybox-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 99995;
  background: transparent;
  cursor: default;
  overflow: visible;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fancybox-image,
.fancybox-spaceball {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;

  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
  max-height: none;
  background: transparent;
  background-size: 100% 100%; }

.fancybox-controls--canzoomOut .fancybox-placeholder {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.fancybox-controls--canzoomIn .fancybox-placeholder {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.fancybox-controls--canGrab .fancybox-placeholder {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-controls--isGrabbing .fancybox-placeholder {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden; }

.fancybox-error {
  position: absolute;
  margin: 0;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 380px;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  cursor: default; }

.fancybox-error p {
  margin: 0;
  padding: 0;
  color: #444;
  font: 16px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; }

.fancybox-close-small {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  background: transparent;
  z-index: 10;
  cursor: pointer; }

.fancybox-close-small:after {
  content: '×';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font: 20px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #888;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  background: #fff;
  transition: background .2s;
  box-sizing: border-box;
  z-index: 2; }

.fancybox-close-small:focus:after {
  outline: 1px dotted #888; }

.fancybox-slide--video .fancybox-close-small {
  top: -36px;
  right: -36px;
  background: transparent; }

.fancybox-close-small:hover:after {
  color: #555;
  background: #eee; }

/* Caption */
.fancybox-caption-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 30px 0 30px;
  z-index: 99998;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  opacity: 0;
  transition: opacity .2s;
  pointer-events: none; }

.fancybox-show-caption .fancybox-caption-wrap {
  opacity: 1; }

.fancybox-caption {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  line-height: 20px;
  -webkit-text-size-adjust: none; }

.fancybox-caption a,
.fancybox-caption button {
  pointer-events: all; }

.fancybox-caption a {
  color: #fff;
  text-decoration: underline; }

/* Buttons */
.fancybox-button {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 44px;
  line-height: 44px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  background: transparent;
  color: #fff;
  box-sizing: border-box;
  vertical-align: top;
  outline: none; }

.fancybox-button--disabled {
  cursor: default;
  pointer-events: none; }

.fancybox-infobar__body, .fancybox-button {
  background: rgba(30, 30, 30, 0.6); }

.fancybox-button:hover {
  background: rgba(0, 0, 0, 0.8); }

.fancybox-button::before,
.fancybox-button::after {
  content: '';
  pointer-events: none;
  position: absolute;
  border-color: #fff;
  background-color: currentColor;
  color: currentColor;
  opacity: 0.9;
  box-sizing: border-box;
  display: inline-block; }

.fancybox-button--disabled::before,
.fancybox-button--disabled::after {
  opacity: 0.5; }

.fancybox-button--left::after {
  left: 20px;
  top: 18px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.fancybox-button--right::after {
  right: 20px;
  top: 18px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.fancybox-button--left {
  border-bottom-left-radius: 5px; }

.fancybox-button--right {
  border-bottom-right-radius: 5px; }

.fancybox-button--close {
  float: right; }

.fancybox-button--close::before, .fancybox-button--close::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 16px;
  top: calc(50% - 1px);
  left: calc(50% - 8px); }

.fancybox-button--close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.fancybox-button--close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* Loading spinner */
.fancybox-loading {
  border: 6px solid rgba(100, 100, 100, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: fancybox-rotate .8s infinite linear;
  animation: fancybox-rotate .8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 99999; }

@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-controls {
    text-align: left; }
  .fancybox-button--left,
  .fancybox-button--right,
  .fancybox-buttons button:not(.fancybox-button--close) {
    display: none !important; }
  .fancybox-caption {
    padding: 20px 0;
    margin: 0; } }

/* Fullscreen  */
.fancybox-button--fullscreen::before {
  width: 15px;
  height: 11px;
  left: 15px;
  top: 16px;
  border: 2px solid;
  background: none; }

/* Slideshow button */
.fancybox-button--play::before {
  top: 16px;
  left: 18px;
  width: 0;
  height: 0;
  border-top: 6px inset transparent;
  border-bottom: 6px inset transparent;
  border-left: 10px solid;
  border-radius: 1px;
  background: transparent; }

.fancybox-button--pause::before {
  top: 16px;
  left: 18px;
  width: 7px;
  height: 11px;
  border-style: solid;
  border-width: 0 2px 0 2px;
  background: transparent; }

/* Thumbs */
.fancybox-button--thumbs span {
  font-size: 23px; }

.fancybox-button--thumbs::before {
  top: 20px;
  left: 21px;
  width: 3px;
  height: 3px;
  box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, 0 0 0 32px inset, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0; }

.fancybox-container--thumbs .fancybox-controls,
.fancybox-container--thumbs .fancybox-slider-wrap,
.fancybox-container--thumbs .fancybox-caption-wrap {
  right: 220px; }

.fancybox-thumbs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 220px;
  margin: 0;
  padding: 5px 5px 0 0;
  background: #fff;
  z-index: 99993;
  word-break: normal;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box; }

.fancybox-thumbs > ul {
  list-style: none;
  position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0; }

.fancybox-thumbs > ul > li {
  float: left;
  overflow: hidden;
  max-width: 50%;
  padding: 0;
  margin: 0;
  width: 105px;
  height: 75px;
  position: relative;
  cursor: pointer;
  outline: none;
  border: 5px solid #fff;
  border-top-width: 0;
  border-right-width: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box; }

li.fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1); }

.fancybox-thumbs > ul > li > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  max-height: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-thumbs > ul > li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  border: 4px solid #4ea7f9;
  z-index: 99991;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.fancybox-thumbs > ul > li.fancybox-thumbs-active:before {
  opacity: 1; }

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-thumbs {
    display: none !important; }
  .fancybox-container--thumbs .fancybox-controls,
  .fancybox-container--thumbs .fancybox-slider-wrap,
  .fancybox-container--thumbs .fancybox-caption-wrap {
    right: 0; } }
